<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/dashstyles.css">
</head>
<body>
    <header>
        <h1>Scotbank</h1>
    </header>
        <ul>
            <li><a class="active">Dashboard</a></li>
            <li><a href="/scotbank/adminAccounts" >Accounts</a></li>
            <li><a href="/scotbank/adminTransactions">Transactions</a></li>
            <li><a href="/scotbank/adminSanctioned">Sanctioned</a></li>
        </ul>

    <main>
        <a class="logout" href="/scotbank/login">Logout</a>
    </main>
</body>
</html>