<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer</title>
    <link rel="stylesheet" type="text/css" href="/assets/dashstyles.css">
</head>
<body>
    <header>
        <h1>Scotbank</h1>
    </header>
    <ul>
        <li><a  href="/scotbank/dashboard">Dashboard</a></li>
        <li><a href="/scotbank/dashboard">Transfer</a></li>
        <li><a class="active" href="">Round Up Pot</a></li>
        <li><a href="">example</a></li>
    </ul>

    <main>
        <div id="UserOverview">
            <h2>Account Overview</h2>
            <p>id: {{id}}</p>
            <p>Name: {{name}}</p>
        </div>

        <div id="balanceOverview">
            <h2>Account Balance</h2>
            <p>Balance: {{balance}}</p>
        </div>
        <h2>Enable Round Up</h2>
        <label class="switch">
            <input type="checkbox" id="roundUpToggle" onchange="toggleRoundUp()">
            <span class="slider"></span>
        </label>
        <script>
            function toggleRoundUp() {
            const isChecked = document.getElementById('roundUpToggle').checked;
            fetch('/scotbank/roundup', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `enabled=${isChecked ? true : false}`
            })
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            })
            .catch((error) => {
            console.error('Error:', error);
            });
            }
        </script>


        <a class="logout" href="/scotbank/login">Logout</a>
    </main>
</body>
</html>